<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
  <title>You</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/checkin.js') }}" defer></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous" defer></script>
  {% block head %}{% endblock %}
</head>

<body>
  <header>
    <!-- MAIN NAV ELEMENTS -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
      <a class="navbar-brand navbar-item active" href="{{ url_for('main.homepage') }}">You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('challenge.challenges') }}">Challenges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('goal.goals') }}">Goals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('progress.progress_page') }}">Progress</a>
          </li>
          {% endif %}
        </ul>
        <!-- SETTINGS DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% if current_user.is_authenticated %}<img src="{{ url_for('static', filename='assets/settings.png') }}"
              alt="Gear icon" id="settings-dropdown"></a>
          <div class="dropdown-menu">
            <a href="{{ url_for('user.settings') }}" class="dropdown-item">Settings</a>
            <button class="dropdown-item" id="open-checkin-modal">Check In</button>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('user.logout') }}">Log Out</a>
            {% else %}<button type="button" class="btn btn-primary" id="settings-dropdown">Get Started!</button></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('user.login') }}">Log In</a>
              <a class="dropdown-item" href="{{ url_for('user.register') }}">Sign Up</a>
              {% endif %}
            </div>
        </li>
        {% if current_user.is_authenticated %}
        <!-- SEARCH BAR -->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- PROFILE IMAGE BUTTON IF LOGGED IN USER -->
        <button type="button" id="open-glance" class="img-btn"><img src="{{ url_for('static', filename='assets/default_profile_pic.jpg') }}" alt="Woman in fitness gear outside" class="profile-pic"></button>
        {% endif %}
      </div>
    </nav>
  </header>
  <!-- INITIALIZE FLASH MESSAGES -->
  <div class="flash-messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-center">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div class="row w-100">
    <!-- AT A GLANCE CARD -->
    <div class="glance-card p-0 invisible" id="at-a-glance">
      <div class="card mb-3">
        <h3 class="card-header">You, at a glance</h3>
        <div class="card-body">
          {% for goal in goals %}
          <h5 class="card-title">{{ goal.category }}</h5>
          <h6 class="card-subtitle text-muted">{{ goal.daily_goal_percent }}% to daily goal</h6>
          {% endfor %}
        </div>
        <div class="card-body">
          <a href="{{ url_for('progress.progress_page') }}" class="card-link">See Progress</a>
          <a href="{{ url_for('goal.goals') }}" class="card-link">Check your goals</a>
        </div>
        <div class="card-footer text-muted">
          Last updated: 1 hr ago
        </div>
      </div>
    </div>
    <!-- CHECK IN MODAL -->
    <div class="backdrop" id="checkin-modal-backdrop"></div>

    <div class="modal" id="checkin-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Check In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" id="x-checkin-btn">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('check_in.add_check_in')}}" method="POST" id="check-in-form">
              <div class="row w-100 justify-content-center">
                <div class="col-md-6">
                  <label for="checkin-category">What goal is this for?</label>
                  <select class="form-control" name="checkin-category" id="checkin-cat-select" form="check-in-form">
                    <option value="pick-one">Select One</option>
                    <option value="Water Intake">Water Intake</option>
                    <option value="Steps">Steps</option>
                    <option value="Heart Rate">Resting Heart Rate</option>
                    <option value="Calories">Calories</option>
                    <option value="Weight">Weight</option>
                  </select>
                  <div class="invisible" id="checkin-form-part-two">
                    <label for="input" id="input-label">Placeholder</label>
                    <input class="form-control" type="number" name="goal" id="goal">
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="save-checkin">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-checkin">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- SETTINGS MODAL -->

    <div class="modal" id="checkin-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Check In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" id="x-checkin-btn">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('check_in.add_check_in')}}" method="POST" id="check-in-form">
              <div class="row w-100 justify-content-center">
                <div class="col-md-6">
                  <label for="checkin-category">What goal is this for?</label>
                  <select class="form-control" name="checkin-category" id="checkin-cat-select" form="check-in-form">
                    <option value="pick-one">Select One</option>
                    <option value="Water Intake">Water Intake</option>
                    <option value="Steps">Steps</option>
                    <option value="Heart Rate">Resting Heart Rate</option>
                    <option value="Calories">Calories</option>
                    <option value="Weight">Weight</option>
                  </select>
                  <div class="invisible" id="checkin-form-part-two">
                    <label for="input" id="input-label">Placeholder</label>
                    <input class="form-control" type="number" name="goal" id="goal">
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="save-checkin">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-checkin">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block content %}{% endblock %}
  <!-- FOOTER -->
  <footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">
      © Copyright Sid Arcidiacono 2020
    </div>
  </footer>
</body>

</html>
