{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/challenges.js')}}" defer></script>
{% endblock %}

{% block content %}
<!-- BACKDROP FOR MODAL OPEN -->
<div class="backdrop" id="modal-backdrop"></div>

<!-- ADD CHALLENGE BUTTON -->
<div class="row justify-content-center m-3">
  <div class="col-md-6 d-flex align-items-center">
    <button type="button" class="btn btn-primary m-auto" id="start-modal-btn">Add New Challenge</button>
  </div>
</div>

<!-- ADD CHALLENGE MODAL -->
<div class="row w-100">
  <div class="modal" id="add-challenge-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a Challenge</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" id="x-button">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('challenge.challenges') }}" method="POST" enctype="multipart/form-data">
            <div class="row w-100 justify-content-center">
              <div class="col-md-4">
                <label for="title">Challenge Title</label>
                <input class="form-control" type="text" name="title" id="title">
              </div>
              <div class="col-md-4">
                <label for="dates">Dates</label>
                <input class="form-control" type="text" name="dates" id="dates">
              </div>
            </div>
            <div class="col-md-4">
              <label for="image">Image</label>
              <input class="form-control" type="file" name="image" id="image">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="save-add-challenge">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="stop-add-challenge">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ACTIVE CHALLENGE CARDS -->
{% if new_challenges or completed_challenges %}

<div class="row justify-content-center">
  <h2>Upcoming Challenges</h2>
</div>

{% for new_challenge in new_challenges %}
<div class="row w-100 justify-content-center">
  <div class="container m-3">
    <div class="row text-white bg-primary mb-3 w-100 rounded">
      <div class="col-md-4 text-left">
        <h3 class="card-title p-4">{{ new_challenge.title }}</h3>
        <p class="card-text p-4">{{ new_challenge.dates }}</p>
      </div>
      <div class="col-md-3 ml-auto mr-0 p-0 d-flex flex-row">
        <button type="button" id="join-challenge" class="img-btn small"><img src="{{ url_for('static', filename='assets/orange_add_plus.png') }}" alt="plus shaped button"></button>
        <img class="challenge-img h-100" src="{{ url_for('static', filename='assets/' + new_challenge.image) }}" alt="{{ new_challenge.title }}">
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- COMPLETED CHALLENGE CARDS -->
<div class="row justify-content-center">
  <h2>Completed Challenges</h2>
</div>

{% for completed_challenge in completed_challenges %}
<div class="row w-100 justify-content-center">
  <div class="container m-3">
    <div class="row text-white border-primary mb-3 w-100 rounded">
      <div class="col-md-4 text-left">
        <h3 class="card-title p-4">{{ new_challenge.title }}</h3>
        <p class="card-text p-4">{{ new_challenge.dates }}</p>
      </div>
      <div class="col-md-3 ml-auto mr-0 p-0">
        <img class="challenge-img h-100" src="{{ url_for('static', filename='assets/' + new_challenge.image) }}" alt="{{ new_challenge.title }}">
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% else %}

<!-- DISPLAY IF THERE ARE NO CHALLENGES TO SHOW -->
<div class="row w-100 justify-content-center mt-4 mb-4">
  <h3 class="text-center">No challenges yet!</h3>
</div>

{% endif %}

{% endblock %}
