{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/goal.js')}}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid w-100 p-0">

  <div class="row w-100 justify-content-center m-4">
    <div class="col-md-6 justify-content-center text-center">

      <!-- BACKDROP FOR MODAL OPEN -->
      <div class="backdrop" id="modal-backdrop"></div>
      <h2 class="mb-4">Your Goals</h2>
      <!-- ADD GOAL BUTTON -->
      <button type="button" class="btn btn-primary m-auto" id="start-modal-btn">Add New Goal</button>
    </div>

    <!-- ADD GOAL MODAL -->
    <div class="row w-100">
      <div class="modal" id="add-goal-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add a Goal!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" id="x-goal-button">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{{ url_for('goal.add_goal') }}" method="POST" enctype="multipart/form-data" id="add-goal-form">
                <div class="row w-100 justify-content-center">
                  <div class="col-md-6">
                    <label for="goal-category">Category</label>
                    <select class="form-control" name="category" id="category-select" form="add-goal-form">
                      <option value="pick-one">Select One</option>
                      <option value="Water Intake">Water Intake</option>
                      <option value="Steps">Steps</option>
                      <option value="Heart Rate">Resting Heart Rate</option>
                      <option value="Calories">Calories</option>
                      <option value="Weight">Weight</option>
                    </select>
                    <div class="invisible" id="goal-form-part-two">
                      <label for="goal" id="goal-label">Placeholder</label>
                      <input class="form-control" type="number" name="goal" id="goal">
                      <label for="baseline" id="baseline-label">Baseline</label>
                      <input class="form-control" type="number" name="baseline" id="baseline">
                      <label for="start-date">Start Date (mm-dd-yyyy)</label>
                      <input class="form-control" type="date" name="start-date" id="start-date" placeholder="Date I start on this goal">
                      <label for="end-date">End Date (mm-dd-yyyy)</label>
                      <input class="form-control" type="date" name="end-date" id="end-date" placeholder="Date I accomplish it by">
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="save-add-goal">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="stop-add-goal">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if goals %}
  {% for goal in goals %}
  <div class="row w-100">
    <div class="col-md-4 ml-auto mr-auto mb-4">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">{{ goal.category }}</div>
        <div class="card-body">
          {% if goal.category == "Water Intake" %}
          <h4 class="card-title">{{ goal.goal }} oz per day</h4>
          {% elif goal.category == "Steps" %}
          <h4 class="card-title">{{ goal.goal }} steps per day</h4>
          {% elif goal.category == "Heart Rate" %}
          <h4 class="card-title">{{ goal.goal }} beats per minute</h4>
          {% elif goal.category == "Calories" %}
          <h4 class="card-title">{{ goal.goal }} calories per day</h4>
          {% elif goal.category == "Weight" %}
          <h4 class="card-title">{{ goal.goal }} lbs</h4>
          {% endif %}
          <p class="card-text">You started working towards this goal on: {{ goal.start_date.strftime('%b %d, %Y') }}</p>
          <p class="card-text">You plan to achieve this goal by: {{ goal.end_date.strftime('%b %d, %Y') }}</p>
          <div class="col-md-4 ml-auto">
            <form onsubmit="postGoalData()">
              <input type="hidden" name="goal_id" id="goal-id" value="{{ goal.id }}">
              <button type="submit" class="btn btn-primary open-edit-goal">Edit Goal</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal" id="edit-goal-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add a Goal!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" id="x-edit-button">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{{ url_for('goal.edit_goal') }}" method="POST" id="edit-goal-form">
                <div class="row w-100 justify-content-center">
                  <div class="col-md-6">
                    <legend>{{ goal.category }}</legend>
                    <label for="goal-target">Update target?</label>
                    <input type="number" name="goal-target" id="goal-target" value="{{ goal.goal }}">
                    <label for="start-date">Start Date (mm-dd-yyyy)</label>
                    <input class="form-control" type="date" name="start-date" id="start-date" placeholder="Date I start on this goal">
                    <label for="end-date">End Date (mm-dd-yyyy)</label>
                    <input class="form-control" type="date" name="end-date" id="end-date" placeholder="Date I accomplish it by">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="save-edit-goal">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="stop-edit-goal">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="row w-100 justify-content-center">
    <div class="col-md-6 text-center">
      <h5 class="log-in-msg">You haven't added any goals yet. Try adding one!</h5>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
