.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: 2;
  pointer-events: none;
  display: none;
}

.backdrop.visible {
  display: block;
  pointer-events: all;
}

.profile-pic {
  max-width: 65px;
  max-height: 65px;
  border-radius: 15px;
}

.img-btn {
  background-color: transparent;
  border: none;
  padding-left: 15px;
}

.img-btn:hover {
  opacity: 50%;
}

.invisible {
  display: none;
}
